[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
Sphinx = "*"
"-e ../codemach" = "*"
"-e ../modconf" = "*"
"-e ." = "*"

[packages]
fs = "*"
numpy = "*"
modconf = ">=0.3.0b9"
pkgtool = "==0.1b52"
codemach = "*"
