[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
[packages]
modconf = "==0.4b3"
codemach = "==0.4b6"
fs = "*"
numpy = "*"
async-patterns = "==0.3b8"
[dev-packages]
Sphinx = "*"
"-e ../modconf" = "*"
pytest-cov = "*"
"-e ../async-patterns" = "*"
"-e ../codemach" = "*"
pytest = "*"
"-e ." = "*"
